<div class="row pt-2">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h6>Employee List</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Emp ID</th>
                  <th>Emp Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                @for (item of employeeList; track $index) {
                  <tr>
                  <td>{{$index+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.phone}}</td>
                  <td>{{item.address}}</td>
                  <td class="text-center">
                    <button type="button" class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                    <button type="button" class="btn btn-danger mx-2" (click)="onDelete(item)">Delete</button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 mr-5 card" >
    <div class="card-header bg-success">
      <h6>New Employee</h6>
    </div>
    <div class="card-body">
      <form [formGroup]="employeeFormGroup">
        <div class="row">
          <div class="col-12">
            <label for="name">Name</label>
            <input id="name" type="text" formControlName="name" class="form-control"  />
            <div class="text-danger">
              @if (employeeFormGroup.controls['name'].invalid && employeeFormGroup.controls['name'].touched) {
                <span>Name is required</span>
              } @else if (employeeFormGroup.controls['name'].hasError('minlength')) {
                <span>Name must be at least 3 characters long</span>
              } @else if (employeeFormGroup.controls['name'].hasError('maxlength')) {
                <span>Name cannot be more than 20 characters long</span>
              } @else if (employeeFormGroup.controls['name'].hasError('pattern')) {
                <span>Name can only contain letters and spaces</span>
              }
            </div>
          </div>
          <div class="col-6">
            <label for="email">Email</label>
            <input id="email" type="text" formControlName="email" class="form-control"  />
            <div class="text-danger">
              @if (employeeFormGroup.controls['email'].invalid && employeeFormGroup.controls['email'].touched) {
                <span>Email is required</span>
              } @else if (employeeFormGroup.controls['email'].hasError('email')) {
                <span>Email is not valid</span>
              } @else if (employeeFormGroup.controls['email'].hasError('pattern')) {
                <span>Email can only contain letters, numbers, and special characters</span>
              }
            </div>
          </div>
          <div class="col-6">
            <label for="phone">Phone</label>
            <input id="phone" type="text" formControlName="phone" class="form-control"  />
            <div class="text-danger">
              @if (employeeFormGroup.controls['phone'].invalid && employeeFormGroup.controls['phone'].touched) {
                <span>Phone is required</span>
              } @else if (employeeFormGroup.controls['phone'].hasError('pattern')) {
                <span>Phone is not valid</span>
              } 
            </div>
          </div>
          <div class="col-12">
            <label for="address">Address</label>
            <textarea  id="address" minlength="10" formControlName="address" class="form-control"></textarea>
            <div class="text-danger">
              @if (employeeFormGroup.controls['address'].invalid && employeeFormGroup.controls['address'].touched) {
                <span>Address is required</span>
              } @else if (employeeFormGroup.controls['address'].hasError('minlength')) {
                <span>Address must be at least 10 characters long</span>
              }
            </div>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-6 text-center">            
            <button class="btn btn-secondary" (click)="onReset()">Reset</button>        
          </div>
          <div class="col-6 text-center">
            @if (employeeFormGroup.controls['id'].value =='1') {
              <button class="btn btn-success" (click)="onSave()">Create Employee</button>  
            } @else {
              <button class="btn btn-warning" (click)="updateEmployee()">Update Employee</button>  
            }                  
          </div>
        </div>
        <div class="text-danger">
          <span *ngIf="employeeFormGroup.invalid && (employeeFormGroup.dirty || employeeFormGroup.touched)">Please fill out the form correctly.</span>
        </div>
    </form>
    </div>
  </div>
</div>
